# Shelter Animal Outcomes 2

## Data cleaning & preprocessing

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv('train.csv')
df_test  = pd.read_csv('test.csv')

In [3]:
def agetodays(ageData):
    try:
        age = ageData.split()
    except:
        return None
    if 'year' in age[1]:
        return float(age[0]) * 365
    elif 'month' in age[1]:
        return float(age[0]) * 30.5
    elif 'week' in age[1]:
        return float(age[0]) * 7
    elif 'day' in age[1]:
        return float(age[0])

In [4]:
def munge(data, train):
    data['HasName'] = data['Name'].isnull().map({True: 1, False: 0})
    gender = {'Neutered Male':1, 'Spayed Female':2, 'Intact Male':3, 'Intact Female':4, 'Unknown':5, np.nan:0}
    data['Gender'] = data['SexuponOutcome'].map(gender)
    data['IsCat'] = data['AnimalType'].map({'Cat':1, 'Dog':0})
    data['AgeInDays'] = data['AgeuponOutcome'].map(agetodays)
    data['AgeInDays'] = data['AgeInDays'].fillna(data['AgeInDays'].mean())
    
    if (train):
        data['Outcome'] = data['OutcomeType'].map({'Adoption':1, 'Died':2, 'Euthanasia':3, 'Return_to_owner':4, 'Transfer':5})
        data = data.drop('OutcomeSubtype', 1)
        data = data.drop('OutcomeType', 1)
        data = data.drop('AnimalID', 1)
                         
    # dropping breed for now 
    return data.drop(['SexuponOutcome', 'AnimalType','AgeuponOutcome', 'Name', 'Breed', 'DateTime','Color'], 1)

In [5]:
out_train = munge(df_train, True)
out_train.head()

   HasName  Gender  IsCat  AgeInDays  Outcome
0        0       1      0      365.0        4
1        0       2      1      365.0        3
2        0       1      0      730.0        1
3        1       3      1       21.0        5
4        1       1      0      730.0        5

In [6]:
out_test = munge(df_test, False)
out_test.head()

   ID  HasName  Gender  IsCat  AgeInDays
0   1        0       4      0      305.0
1   2        0       2      0      730.0
2   3        0       1      1      365.0
3   4        0       3      0      122.0
4   5        0       1      0      730.0

In [7]:
out_test.to_csv('Shelter_test.csv', index= False)

In [8]:
out_train.to_csv('Shelter_train.csv', index= False)